{% extends 'base.html.twig' %}

{% block title %}Регистрация на BlaBlaArticle{% endblock %}

{% block bodyClass %}signin-body{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Регистрация</h5>
                        {# Выводим сообщение об успешной решистрации #}
                        {% if success %}
                            <div class="alert alert-success" role="alert">
                                Для завершения регистрации подтвердите ваш email
                            </div>
                        {% else %}
                            {{ form_start(registrationForm, {
                                attr: {class: 'form-signin'},
                            }) }}
                            {# Выводим ошибки формы #}
                            {% if errors.count %}
                                {% include 'components/error.html.twig' with {errors: errors} %}
                            {% endif %}

                            <div class="form-label-group">
                                {{ form_widget(registrationForm.firstName, {
                                    attr: {placeholder: 'Ваше имя'}
                                }) }}
                                {{ form_label(registrationForm.firstName, 'Ваше имя', {
                                    errors: null
                                }) }}
                            </div>
                            <div class="form-label-group">
                                {{ form_widget(registrationForm.email, {
                                    attr: {placeholder: 'Ваш Email'}
                                }) }}
                                {{ form_label(registrationForm.email, 'Ваш Email', {
                                    errors: null
                                }) }}
                            </div>

                            <div class="form-label-group">
                                {{ form_widget(registrationForm.planePassword, {
                                    attr: {placeholder: 'Пароль'}
                                }) }}
                                {{ form_label(registrationForm.planePassword, 'Пароль', {
                                    errors: null
                                }) }}
                            </div>

                            <div class="form-label-group">
                                {{ form_widget(registrationForm.confirmPassword, {
                                    attr: {placeholder: 'Подтверждение пароля'},
                                    errors: false
                                }) }}
                                {{ form_label(registrationForm.confirmPassword, 'Подтверждение пароля', {
                                    errors: null
                                }) }}
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Регистрация
                            </button>
                            <hr class="my-4">
                            <div class="text-center"><a href="{{ path('app_login') }}">Я уже зарегистрирован</a></div>
                            {{ form_end(registrationForm) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
