{% extends 'base_admin_content.html.twig' %}

{% block content %}
    <h1 class="mt-4">Создание статьи</h1>
    <div class="mt-4">
        <div class="col-xl-6">
            {% form_theme articleForm 'form/form_file_widget.html.twig' %}
            {{ form_start(articleForm) }}

            {# Выводим ошибки формы #}
            {% if errors.count %}
                {% include 'components/error.html.twig' with {errors: errors} %}
            {% endif %}
            {# Выводим предупреждение об истечении лимита генерации формы #}
            {% if isBlocked %}
                <div class="alert alert-danger" role="alert">
                    Превышен лимит создания статей, чтобы снять лимит <a href="{{ path('app_admin_subscription') }}">Улучшите
                        подписку</a>
                </div>
            {% endif %}

            {# Тематика статьи #}
            {{ form_row(articleForm.theme) }}

            {# Заголовок #}
            <div class="form-label-group">
                {{ form_widget(articleForm.title) }}
                {{ form_label(articleForm.title) }}
            </div>

            {# Описание статьи #}
            <div class="form-label-group">
                {{ form_row(articleForm.description, {
                    errors: null
                }) }}
            </div>

            {# Ключевое слово #}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-title">Ключевое слово</p>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.0, {
                            attr: {placeholder: 'Ключевое слово'}
                        }) }}
                        {{ form_label(articleForm.articleWords.0, 'Ключевое слово') }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.1, {
                            required: false,
                            attr: {placeholder: 'Родительный падеж'}
                        }) }}
                        {{ form_label(articleForm.articleWords.1, 'Родительный падеж') }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.2, {
                            required: false,
                            attr: {placeholder: 'Дательный падеж'}
                        }) }}
                        {{ form_label(articleForm.articleWords.2, 'Дательный падеж') }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.3, {
                            required: false,
                            attr: {placeholder: 'Винительный падеж'}
                        }) }}
                        {{ form_label(articleForm.articleWords.3, 'Винительный падеж') }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.4, {
                            required: false,
                            attr: {placeholder: 'Творительный падеж'}
                        }) }}
                        {{ form_label(articleForm.articleWords.4, 'Творительный падеж') }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.5, {
                            required: false,
                            attr: {placeholder: 'Предложный падеж'}
                        }) }}
                        {{ form_label(articleForm.articleWords.5, 'Предложный падеж') }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleForm.articleWords.6, {
                            required: false,
                            attr: {placeholder: 'Множественное число'}
                        }) }}
                        {{ form_label(articleForm.articleWords.6, 'Множественное число') }}
                    </div>
                </div>
            </div>

            {# Размер статьи #}
            <div class="row">
                <div class="col">
                    <div class="form-label-group">
                        {{ form_widget(articleForm.sizeFrom) }}
                        {{ form_label(articleForm.sizeFrom, '', {
                            errors: null
                        }) }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-label-group">
                        {{ form_widget(articleForm.sizeTo, {
                            errors: null
                        }) }}
                        {{ form_label(articleForm.sizeTo, '', {
                            errors: null
                        }) }}
                    </div>
                </div>
            </div>

            {# Продвигаемые слова #}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-title">Продвигаемые слова</p>
                    <div class="row">
                        <div
                                class="col promoted-word-list"
                                data-prototype="{{ form_widget(articleForm.promotedWords.vars.prototype)|e }}{{ form_label(articleForm.promotedWords.vars.prototype)|e }}"
                                data-widget-tags="{{ '<div class="form-label-group"></div>'|e }}"
                                data-widget-counter="{{ articleForm.promotedWords|length }}"
                        >
                            {% for promotedWord in articleForm.promotedWords %}
                                <div class="form-label-group">
                                    {{ form_widget(promotedWord) }}
                                    {{ form_label(promotedWord) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div
                                class="col promoted-word-list"
                                data-prototype="{{ form_widget(articleForm.promotedWordCount.vars.prototype)|e }}{{ form_label(articleForm.promotedWordCount.vars.prototype)|e }}"
                                data-widget-tags="{{ '<div class="form-label-group"></div>'|e }}"
                                data-widget-counter="{{ articleForm.promotedWordCount|length }}"
                        >
                            {% for promotedWordCount in articleForm.promotedWordCount %}
                                <div class="form-label-group">
                                    {{ form_widget(promotedWordCount) }}
                                    {{ form_label(promotedWordCount) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {# Блок кнопок для добавления или удаления полей продвигаемых слов #}
                    <div class="row">
                        <button
                                type="button"
                                class="btn btn-success btn-block text-uppercase add-promoted-word"
                                data-list-selector=".promoted-word-list"
                        >
                            +
                        </button>
                        <button
                                type="button"
                                class="btn btn-danger btn-block text-uppercase remove-promoted-word"
                                data-list-selector=".promoted-word-list"
                        >
                            -
                        </button>
                    </div>

                </div>
            </div>

            <div class="form-group">
                {{ form_label(articleForm.images, '', {
                    errors: null
                }) }}
                {{ form_widget(articleForm.images) }}
            </div>

            {{ form_rest(articleForm) }}

            <button
                    class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="submit"
                    {% if isBlocked %}disabled{% endif %}
            >Создать</button

            {{ form_end(articleForm) }}
        </div>
    </div>

    <hr>

    {% if article %}
        <h2 class="mt-4">Ваша статья</h2>

        <hr>

        <div class="row">

            <div class="col-xl-6">
                <h1 class="mt-4">{{ article.title }}</h1>
                {{ article.body|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}
