{% extends 'base_content.html.twig' %}

{% block info_hrefs %}{% endblock %}

{% block try %}{% endblock %}

{% block content %}
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

                    <h2 class="card-title text-center mb-4">Создание статьи</h2>

                    {% if articleId is not null %}
                        <div class="alert alert-info" role="alert">
                            Чтобы создать статью по настоящему <a
                                    href="{{ path('app_register') }}">Зарегистрируйтесь</a>
                        </div>
                    {% endif %}
                    {# Форма генепации статьи #}
                    {{ form_start(articleDemoGenerateForm, {
                        attr: {class: 'form-signin'}
                    }) }}
                    <div class="form-label-group">
                        {{ form_widget(articleDemoGenerateForm.title, {
                            attr: {
                                placeholder: 'Заголовок статьи',
                                autofocus: true,
                                value: article.title|default('Тестовая статья'),
                                disabled: articleId|default(false)
                            }
                        }) }}
                        {{ form_label(articleDemoGenerateForm.title, 'Заголовок статьи', {
                            errors: null,
                        }) }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(articleDemoGenerateForm.promotedWord, {
                            attr: {
                                placeholder: 'Продвигаемое слово',
                                value: article.promotedWords.0.word|default(''),
                                disabled: articleId|default(false)
                            }
                        }) }}
                        {{ form_label(articleDemoGenerateForm.promotedWord, 'Продвигаемое слово', {
                            errors: null,
                        }) }}
                    </div>

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                            {% if articleId is not null %} disabled {% endif %}>
                        Попробовать
                    </button>
                    {{ form_end(articleDemoGenerateForm) }}
                </div>
            </div>
        </div>
    </section>

    <hr>
    {# Блок вывода демо-генерации статьи #}
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    {% if article is not null %}
                        {{ article.body|raw }}
                    {% else %}
                        <h2 class="card-title text-center mb-4">Тестовая статья</h2>

                        <div class="row">
                            <div class="p-3">
                                <h2>Добавляйте свои слова</h2>
                                <p class="lead mb-0">При генерации контента статьи, вы можете наполнить его нужными
                                    словами
                                    для вашего бизнеса. Столько сколько нужно. Хоть все ими заполоните!</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="showcase-text p-3">
                                <div class="media">
                                    <div class="media-body">
                                        <h2>Вставляйте изображения</h2>
                                        <p class="lead mb-0">Надоели стандартные красивые изображения. Прикрепляйте к
                                            вашим
                                            статьям свою уникальные фотографии. Смазанные, с пальцем на пол фотографии,
                                            с
                                            кривым лицом. Все пойдет - вы здесь главный!</p>
                                        <p class="lead mb-0">Надоели стандартные красивые изображения. Прикрепляйте к
                                            вашим
                                            статьям свою уникальные фотографии. Смазанные, с пальцем на пол фотографии,
                                            с
                                            кривым лицом. Все пойдет - вы здесь главный!</p>
                                    </div>
                                    <img class="ml-3" src="{{ asset('image/bg-showcase-2.jpg') }}" width="518"
                                         height="345"
                                         alt="Демонстрационная картинка">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="p-3">
                                <h2>Интегрируйтесь по API</h2>
                                <p class="lead mb-0">Придумайте и настройте свою собственную интеграцию с сервисом.
                                    Нужно
                                    ответить на комментарий в соц.сети - получите его по API. Нужно написать новую
                                    статью по
                                    программированию - получите ее по API. Хотите вкусно покушать - сходите за едой, а
                                    статью пускай за вас напишет API!</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
