{% extends 'base_content.html.twig' %}

{% block info_hrefs %}{% endblock %}

{% block try %}{% endblock %}

{% block content %}
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

                    <h2 class="card-title text-center mb-4">Создание статьи</h2>
                    {# start ToDo: отображать этот блок после генерации статьи #}
                    <div class="alert alert-info" role="alert">
                        Чтобы создать статью по настоящему <a href="{{ path('app_register') }}">Зарегистрируйтесь</a>
                    </div>
                    {# end отображать этот блок после генерации статьи #}

                    {{ form_start(articleDemoGenerateForm, {
                        attr: {class: 'form-signin'}
                    }) }}
                        <div class="form-label-group">
                            {{ form_widget(articleDemoGenerateForm.title, {
                                attr: {
                                    placeholder: 'Заголовок статьи',
                                    autofocus: true
                                }
                            }) }}
                            {{ form_label(articleDemoGenerateForm.title, 'Заголовок статьи', {
                                errors: null,
                            }) }}
                        </div>
                        <div class="form-label-group">
                            {{ form_widget(articleDemoGenerateForm.promotedWord, {
                                attr: {placeholder: 'Продвигаемое слово',}
                            }) }}
                            {{ form_label(articleDemoGenerateForm.promotedWord, 'Продвигаемое слово', {
                                errors: null,
                            }) }}
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >
                            Попробовать
                        </button>
                        {{ form_end(articleDemoGenerateForm) }}
                </div>
            </div>
        </div>
    </section>


    <hr>

    <section>
        <div class="container my-5">
            <div class="row">
                {% include 'article/components/article_demo.html.twig' with {title: title, article: content} %}
            </div>
        </div>
    </section>
{% endblock %}
